@import "tailwindcss";

@theme {
  --color-header: #fcfdff;
  --color-text: #000;
  --color-border: #ecf5fc;
  --color-btn-bg: #d1d5dc;
  --color-main-red: #c5271b;
}

.dark {
  --color-header: #1f2535;
  --color-border: #070e2a;
  --color-text: #fcfdff;
  --color-btn-bg: #525866;
  --color-main-red: #fb5e55;
}

body {
  background-color: var(--color-border);
  font-family: "Noto Sans";
  color: var(--color-text);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto 11rem;
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-up {
  -webkit-animation: fadeInUp 0.6s ease-in-out forwards;
  animation: fadeInUp 0.6s ease-in-out forwards;
}
