@import "tailwindcss";

:root {
  /* --color-neutral-0: #f9fcfd; */
  --color-neutral-100: #ededed;
  --color-neutral-200: #d6e3f7;
  --color-neutral-300: #c7c7c7;
  --color-neutral-600: #555a69;
  --color-neutral-700: #2e3240;
  --color-neutral-800: #1f2230;
  --color-neutral-900: #111836;
  --color-red-400: #f26b61;
  --color-red-500: #d75a51;
  --color-red-700: #ac3f38;
}

body {
  background-color: #d6e3f7;
  font-family: "Noto Sans";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto 8.2rem;
}
